/.project
*.DS_Store
*.swp
*.exe
*.dll
*.so
*.o

.vscode/

./test
./test/*
.Rproj.user


.Rbuildignore
.Rhistory
.idea/*

cars.feather
derby.log
metastore_db/*
spark-warehouse
spark-warehouse/*/*/*

Rpack/rfnorm/metastore_db/

